// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "dselect.scss";

@import "../css/app.css";
html{
  &.dark{
    input{
      color-scheme: dark;
    }
    *{
      scrollbar-width: auto;
      scrollbar-color: #1f2937 #111827;
    }

    ::-webkit-scrollbar-track {
      background: #111827;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #1f2937;
      border: 3px solid #111827;
    }
    .overflow-x-auto{
      &::-webkit-scrollbar-track {
        background-color: #1f2937;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #111827;
        border: 3px solid #1f2937;
      }
    }
  }

  *{
    scrollbar-width: auto;
    scrollbar-color: #e5e7eb #ffffff;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}
.overflow-x-auto{
  &::-webkit-scrollbar {
    height: 12px;
  }
}

thead[headers]{
  position: sticky;
  top: -20px;
  background: #f6f3f3;
}