.dselect-wrapper{
  width: auto;
  margin: 0;
  padding: 0;

}

.dselect-wrapper button{
  border: none;
  text-align: start;
}

.dselect-wrapper input{
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}
